<div class="col-md-12">
    <div class="col" id="createPartial">
        <p class="" style="color:darkred">Please Choose Any Game Mode !!</p>
        <a class="active" id="back" style="color:darkgreen" href="">&#xab; Back </a><br /><br />
        <div class="row" style="max-width:60%;margin-left:200px">
            <div class="col">
                <button class="btn btn-success" id="gk">Quiz(GK)</button>
            </div>
            <div class="col">
                <button class="btn btn-primary" id="funGame">FunGame</button>
            </div>
            <div class="col">
                <button class="btn btn-info" id="guessPerson">GuessPerson</button>
            </div>
            <div class="col">
                <button class="btn btn-warning" id="qna">Q&A</button>
            </div>
            <div class="col">
                <button class="btn btn-danger" id="exit">Exit</button>
            </div>
        </div>
    </div>
    <div class="row" id="quizdiv" style="margin-top:15px">
        <form id="quizform">
            <div class="container">
                <div class="boxchat" id="boxchat">
                    <p style="color:forestgreen">
                        <b>Kshitij:</b>
                        <span>Hello</span>
                    </p>
                </div>
                <div>
                    <input type="text" id="answer"/>
                    <input class="alert-info" type="button" id="submitAns" value="Submit"/>
                </div>
            </div>
        </form>
    </div>
    <div class="row" id="funGamediv" style="margin-top:15px">
        <p>hello !! FUNNN</p>
    </div>
    <div class="row" id="guessPersondiv" style="margin-top:15px">
        <p>hello !! GUESS</p>
    </div>
    <div class="row" id="qNAdiv" style="margin-top:15px">
        <p>hello !! QNA</p>
    </div>
</div>