<div>
    <a class="active" id="back" style="color:darkgreen" href="">&#xab; Back </a>
</div>
<div class="join" style="margin: auto; width: 40%; border: 5px solid #228B22; padding: 150px; margin-top: 72px; background-color: floralwhite; ">
    <label>Enter Code</label><input type="text" name="inviteCode" id="inviteCode"/>
    <button class="btn btn-success" id="inviteSubmit">Join Game</button>

</div>