@{
    ViewData["Title"] = "QuizEE";
}
<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/enter.js" asp-append-version="true"></script>
</head>
<body>
    <div class="center">
        <h1>Welcome to <a href="~/docs/About.txt" style="color:forestgreen">QuizEE</a></h1>
        <label><strong>Choose an username: </strong></label><br />
        <input type="text" name="userName" id="userName" />
        <button class="btn btn-success" id="enterBtn" >Enter</button>@*<img src="~/img/new.png"/>*@

    </div>
</body>